<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>261867148193-6korum15pv4qhipe307uvtnbl9vq0qja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261867148193-6korum15pv4qhipe307uvtnbl9vq0qja</string>
	<key>API_KEY</key>
	<string>AIzaSyDABg0y0tDnRe1lFHY1g_THg9cXy63TSHA</string>
	<key>GCM_SENDER_ID</key>
	<string>261867148193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.franruano.Planet-Tour</string>
	<key>PROJECT_ID</key>
	<string>planet-tour-f4bb0</string>
	<key>STORAGE_BUCKET</key>
	<string>planet-tour-f4bb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:261867148193:ios:9b29754439555b6c</string>
	<key>DATABASE_URL</key>
	<string>https://planet-tour-f4bb0.firebaseio.com</string>
</dict>
</plist>